*,
* {
    margin: 0;
    padding: 0;
    font-family: 'noto Sans';
}

html,
body {
    height: 100%;
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 2.5vw;
}

a:hover {
    text-decoration: none;
}

.button {
    text-align: center;
}

.btn_rojo {
    background: rgb(189, 23, 23);
    color: white;
    font-size: 2vw;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3vw 0.5vw 0.3vw 0.5vw;
    border-radius: 5px 5px 5px 15px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    transition: all 0.2s ease-out;
}

.btn_rojo:hover {
    transform: scale(1.1);
    background: rgb(219, 54, 54);
}


/**HEADER**/

.header {
    background-color: rgb(189, 23, 23);
    text-align: center;
    color: white;
    height: 10vh;
}

.header i {
    display: none;
}


/**MAIN**/

.container_main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 20% 80%;
}

.date_task_general {
    color: rgb(189, 23, 23);
}

.border_orange {
    border-bottom: 3px solid rgb(189, 23, 23);
    margin-bottom: 1vw;
    width: 100%;
}


/**Aside**/

aside {
    background-color: rgb(224, 76, 76);
    border-bottom: 15px solid rgb(189, 23, 23);
    height: 100vh;
    padding-top: 1vw;
}

.btn_add_task_aside {
    width: 90%;
}

.titulo_aside {
    color: white;
    font-size: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    padding: 0.3vw;
    transition: all 0.3s;
}

.titulo_aside:hover {
    background: rgb(189, 23, 23);
}

.i1 {
    color: rgb(81, 224, 81);
}

.i4 {
    color: lightblue;
}

.span_aside {
    color: rgb(240, 240, 240);
    font-weight: 600;
    font-size: 2vw;
}

.span_aside:hover {
    background-color: rgb(224, 76, 76)
}

.i5 {
    color: rgb(253, 149, 253);
    font-size: 2vw;
}

.cerrar_sesion {
    background: none;
    border: 3px solid white;
    color: white;
    margin-top: 45vh;
    border-radius: 5px 5px 5px 15px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}


/**Empty list taks**/

.empty_container {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_empty {
    text-align: center;
}

.i2 {
    font-size: 6vw;
    color: rgb(214, 213, 213);
    margin-bottom: 1vw;
}


/**Task**/

.section_tasks {
    padding: 1vw 2vw 1vw 1vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container_task {
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;
    padding: 0.5vw 0.5vw 0.3vw 1.5vw;
    transition: all 0.1s linear 0s;
}

.container_task:hover {
    background-color: rgb(243, 243, 243);
}

.container_check {
    border-radius: 5px 5px 5px 15px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    transition: all 0.2s linear;
    padding: 0.5vw;
}

.container_check:hover {
    background: rgb(245, 197, 197);
    border-radius: 5px 5px 5px 15px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
}

.check {
    color: rgb(189, 23, 23);
    font-size: 2vw;
}

.complete {
    color: gray;
    text-decoration: line-through;
}

.task {
    font-family: 'Poppins';
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-top: 0.5vw;
}


/**Add task**/

.addTask {
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;
    text-align: center;
    position: absolute;
    top: 10vh;
    left: 0;
    height: 30%;
    width: 50%;
}

.container_add_task {
    padding: 1vw;
    position: absolute;
    top: 10vh;
    left: 35vw;
    background: white;
    border: 2px solid rgb(219, 219, 219);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container_add_taskMobile {
    display: none;
}

.container_add_task2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1vw;
}

.add_name_task {
    padding-right: 2vw;
}

.add_content_task {
    padding-right: 2vw;
}

.box_text {
    padding: 0.5vw 0.5vw 0.3vw 1.5vw;
}

.buttons_add_task {
    align-items: center;
}

.container_buttons_add {
    display: flex;
    justify-content: space-between;
}

select {
    font-size: 1.3vw;
    margin-top: 0;
    margin-right: 0.5vw;
    margin-bottom: 1vw;
}

.calendar {
    font-size: 1vw;
    margin-bottom: 1vw;
    margin-left: 0.5vw;
    padding-left: 0.5vw;
    width: 90%;
}

.btn_add_task {
    width: 100%;
    font-size: 1.5vw;
    margin-right: 1.5vw;
}

.container_task {
    display: grid;
    grid-template-columns: 80% 20%;
}

.container_status_task {
    text-align: right;
    font-size: 2vw;
}

.iP {
    font-size: 4vw;
}

.status {
    display: block;
    font-family: 'noto sans';
    text-transform: capitalize;
}

.importante {
    display: block;
    color: rgb(0, 0, 0);
}

.urgente {
    display: block;
    color: rgb(219, 54, 54);
}

.libre {
    color: green;
}

.dateTask {
    font-size: 1vw;
}