body {
    background: rgb(238, 238, 238);
}

.formulario {
    background: rgb(219, 54, 54);
    color: white;
    font-family: 'PT sans';
    margin-top: 6vw;
    text-align: center;
    padding: 1vw 1vw 0.3vw 1vw;
    width: 30%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form input[type='text'],
input[type='password'] {
    background: rgb(143, 30, 30);
    border: 1px solid rgb(219, 54, 54);
    color: white;
    font-size: 1.5vw;
    margin-bottom: 2vw;
    padding: 0.5vw 0.7vw 0.3vw 0.7vw;
    width: 100%;
    transition: all 0.3s;
}

form input::placeholder {
    color: white;
}

form input:focus {
    outline: none;
    transform: scale(1.3);
}

form input:hover {
    transform: scale(1.3);
}

.checkbox {
    width: 1.5vw;
    height: 1.5vw;
}

.show-password {
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
}

.submit {
    background: rgb(143, 30, 30);
    border: 1px solid rgb(219, 54, 54);
    color: white;
    font-size: 1.5vw;
    margin-bottom: 2vw;
    padding: 0.5vw 0.7vw 0.3vw 0.7vw;
    width: 50%;
    transition: all 0.2s ease-out;
}

.submit:hover {
    background: rgb(165, 41, 41);
    transform: scale(1.2);
}